KAFKA_PORT=9092
KAFKA_UI_PORT=8090

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
PAYMENT_POSTGRES_PORT=5432
FRAUD_POSTGRES_PORT=5433
NOTIFICATION_POSTGRES_PORT=5434

CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=clickhouse
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
